<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="song">
    <title>게시판 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/search-bar.css" rel="stylesheet">
    <link href="/css/table-header.css" rel="stylesheet">
</head>
<body>
    <header th:replace="~{fragment/header :: header}"></header>

    <main class="container">
        <div class="row">
            <div class="card card-margin search-form">
                <div class="card-body p-0">
                    <form id="card" action="/articles" method="get">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <label for="search-type" hidden>검색 유형</label>
                                        <select class="form-control" id="search-type" name="searchType">
                                            <option th:each="searchType : ${searchTypes}"
                                                    th:text="${searchType.description}" th:value="${searchType.name}"
                                                    th:selected="${param.searchType != null && (param.searchType.toString == searchType.name)}">제목</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <label for="search-value" hidden>검색어</label>
                                        <input type="text" placeholder="검색어..." class="form-control" id="search-value" th:value="${param.searchValue}" name="searchValue">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table article-table">
            <thead>
                <tr th:object="${articles}">
                    <th class="col-6">
                        <a th:text="'제목'"
                           th:href="@{/articles(page=${articles.number},sort='title' + (*{sort.getOrderFor('title')} != null
                        ? (*{sort.getOrderFor('title').direction.name} != 'DESC' ? ',desc' : ''): ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue})}">제목</a>
                    </th>
                    <th class="col-2">
                        <a th:text="'해시태그'"
                           th:href="@{/articles(page=${articles.number},sort='hashtag' + (*{sort.getOrderFor('hashtag')} != null
                        ? (*{sort.getOrderFor('hashtag').direction.name} != 'DESC' ? ',desc' : ''): ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue})}">해시태그</a>
                    </th>
                    <th class="user-id col">
                        <a th:text="'작성자'"
                           th:href="@{/articles(page=${articles.number},sort='userAccount.userId' + (*{sort.getOrderFor('userAccount.userId')} != null
                        ? (*{sort.getOrderFor('userAccount.userId').direction.name} != 'DESC' ? ',desc' : ''): ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue})}">작성자</a>
                    </th>
                    <th class="created-at col">
                        <a th:text="'작성일'"
                           th:href="@{/articles(page=${articles.number},sort='createdAt' + (*{sort.getOrderFor('createdAt')} != null
                        ? (*{sort.getOrderFor('createdAt').direction.name} != 'DESC' ? ',desc' : ''): ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue})}">작성일</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article, articleStat : ${articles}">
                    <td><a th:href="@{'/articles/' + ${article.id}}" th:text="${article.title}">title</a></td>
                    <td th:text="${article.hashtag}">#hashtag</td>
                    <td th:text="${article.nickname}">nickname</td>
                    <td th:datetime="${article.createdAt}" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}">생성날짜</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:text="Previous"
                       th:class="'page-link' + (${articles.number} <= 0 ? ' disabled' : '')"
                       th:href="@{/articles(page=${articles.number - 1}, searchType = ${param.searchType}, searchValue=${param.searchValue})}">Previous</a>
                </li>
                <li class="page-item" th:each="paginationNumber : ${paginationNumbers}">
                    <a class="page-link" href=""
                        th:text="${paginationNumber + 1}"
                        th:class="'page-link' + (${articles.number} == ${paginationNumber} ? ' disabled' : '')"
                        th:href="@{/articles(page=${paginationNumber}, searchType = ${param.searchType}, searchValue=${param.searchValue})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:text="Next"
                       th:class="'page-link' + (${articles.number} >= ${articles.totalPages - 1} ? ' disabled' : '')"
                       th:href="@{/articles(page=${articles.number + 1}, searchType = ${param.searchType}, searchValue=${param.searchValue})}">Next</a>
                </li>
            </ul>
        </nav>
    </main>

    <footer th:replace="fragment/footer :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>